h1{
    color: pink;
}
#greet{
    color: yellow;
}
.myclass{
    color: brown;
}
div p{
    background-color: black;
}
.pra{
    background-color: blue;
}
p{
    background-color: green;
}
div.greetDive.greet{
    background-color: aqua;
}
.greetDive p.greet{
    background-color: green;
}
.greetDive.greet{
    background-color: blue;
}